/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* цвета */
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --background-color: #fff1f7;
  --title_text-color: #353430;
  --title_text-color_inverse: var(--title_text-color);
  /* Шрифт */
  --font: "IBM Plex Mono";
  /* Размер текста */
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-size: 18px;
  --bold_font-weight: 700;
  --text_font-weight: 400;
  /* другое */
  --text-shadow: 4px 4px 0 var(--accent-color);
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    /* цвета */
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --background-color: #fff1f7;
    --title_text-color: #353430;
    --title_text-color_inverse: var(--title_text-color);
    /* Шрифт */
    --font: "IBM Plex Mono";
    /* Размер текста */
    --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --text-size: 18px;
    --bold_font-weight: 700;
    --text_font-weight: 400;
    /* другое */
    --text-shadow: 4px 4px 0 var(--accent-color);
    --background-image: url(../images/cover-image-light.png);
  }
}

.page.theme_light {
  /* цвета */
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --background-color: #fff1f7;
  --title_text-color: #353430;
  --title_text-color_inverse: var(--title_text-color);
  /* Шрифт */
  --font: "IBM Plex Mono";
  /* Размер текста */
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-size: 18px;
  --bold_font-weight: 700;
  --text_font-weight: 400;
  /* другое */
  --text-shadow: 4px 4px 0 var(--accent-color);
  --background-image: url(../images/cover-image-light.png);
}
