/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* цвета */
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --title_text-color: #000028;
  --title_text-color_inverse: #ff0070;
  /* Шрифт */
  --font: "IBM Plex Mono";
  /* Размер текста */
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-size: 18px;
  --bold_font-weight: 700;
  --text_font-weight: 400;
  /* другое */
  --text-shadow: 4px 4px 0 var(--accent-color);
  --background-image: url(../images/cover-image-dark.png);
}
